*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
main{
    background-color: rgb(221, 218, 218);

}
.navbar{
    height:60px;
    width: 100vw;
    background-color: #0f1111;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#outerboxlogo {
    height: 95%;
    width: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
#logo {
    height: 100%;
}
#locationouter {
    display: flex;
    width: 110px;
    height: 95%;
    margin-left: 5px;
}
#locationicon{
    width: 30%;
    height: 100%;
    color: white;
}
#iconitself{
    color: white;
    height: 100%;
    width: 100%;
    margin-top: 23px;
    justify-self: center;
    padding-left: 10px;
}
#locationcountry{
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
}
.thin{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(234, 233, 233);
}
.bold{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: white;
}
#searchouter {
    height: 70%;
    width: 1240px;
    display: flex;
    border: 3px solid transparent;
}
#selectcategory {
    height: 100%;
    width: 4%;
    text-align: center;
    border: none;
    font-size: 15px;
    border-radius: 3px 0 0 3px;
    background-color: rgb(192, 189, 189);

}
#searchbar {
    height: 100%;
    width: 100%;
    background-color: rgb(249, 252, 252);
    border: none;
    

}
#magnifying{
    height: 100%;
    width: 4%;
    background-color: rgb(244, 154, 45);
    border-radius: 0 3px 3px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;

}
input:focus,
select:focus {
    outline: none;
}
#searchouter:hover{
    border-color: orange;
    border-radius: 8px;
}
#selectcountry {
    height: 95%;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#selectcountrycategory{
    height: 70%;
    width: 80%;
    border: none;
    font-size: 0.75rem;
    font-weight: 800;
    background-color: transparent;
    color: white;
}
#selectcountrycategory:focus {
    outline: none;
}
#sign-in-nav {
    height: 95%;
    width: 142px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    
    
}
#firstlinesign-in{
    padding-top: 10px;
    padding-right:45px;
}
#seclinesign-in{
    margin-bottom: 70px;
}
#ordernav{
    height: 95%;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#order {
    padding-bottom: 10px;
}
#cart {
    height: 95%;
    width: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}
#carticon{
    height: 90%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   

}
#cartbasket{
    font-size: 2.2rem;
    color: rgb(252, 252, 251);
}
#mart{
    margin-top: 20px;
    
}

.border{
    border: 2px solid transparent;
    border-radius: 2px;
}
.border:hover{
    border-color: white;
}
.menu{
    height: 2.5rem;
    width: 100vw;
    background-color: #232f3e;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;

}
.decor{
    color: white;
    text-decoration: none;
}
#All{
    display: flex;
    text-decoration: none;
    color: white;
    

}
/* #main-outer {
    background-color: rgb(221, 218, 218);
    justify-self: center;
    width: 100vw;
    height: 100vh;
} */
#main-inner {
    background-color: rgb(255, 255, 255);
    width: 80vw;
    height: 100vh;
    margin-left: 10vw;
    margin-right: 10vw;
    justify-self: center;
}
#hero{
    height: 30rem;
    width: 98%;
    /* background-color: chocolate; */
    justify-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.dimention-hero-ind {
    height: 98%;
    width: 19%;
}
.img-hero-section{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:8px ;
    transition: all 0.75s ease-in 0 ;

}

.img-hero-section:hover{
    box-shadow: 0px 2px 5px rgb(200, 198, 198);
    transform: scale(1.01);
}
